.all-notes
	.container.my-notes
		%h1 Welcome to your notes
		%br/
		.row
			- @notes.each do |note|
				.col-md-4
					.panel.panel-default
						.panel.body.my-panel
							%h2= link_to note.title, note, class: "my-link"
							%p.date= time_ago_in_words(note.created_at)

		= link_to "Create new note", new_note_path, class: "btn btn-default"