.background-notes
	.container
		.row.my-notes
			%h1= @note.title
			%br/
			%p
			%q= @note.content
		%br/
		%br/
		.row.note-links
			= link_to "Back to Notes", notes_path, class: "btn btn-default"
			= link_to "Edit Note", edit_note_path(@note), class: "btn btn-primary"
			= link_to "Delete Note", note_path(@note), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"