.marketing
	%h1.never-more Never more lost one note!

%h1.my-button= link_to "Sign Up!", new_user_registration_path, class: "btn, btn-DEFAULT"

.col-md-12
	.my-text
		Everything that you want. 
		%br/
		
		Make notes safe, fast and on the cloud.	
