@import "bootstrap-sprockets";
@import "bootstrap";

.my-button {
	text-decoration: none;
	text-align: center;
	background-color: #A0B136;
	padding: 10px;
	width: 200px;
	margin-left: 600px;
}

.background-notes {
	background-color: #c5c5c5;
	min-height: 600px;
}

.my-notes {
	color: #222222;
	.date {
		color: #222222;
	}
}

.my-panel {
	text-align: center;
}

.my-link {
	text-decoration: none;
}

.date {
	color: #22222;
}

.note-links {
	margin-top: 300px;
	margin-bottom: 30px;
}