@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #222222;
	font-family: 'Oxygen', sans-serif;

}

.my-nav {
	border-bottom: solid 4px #A0B136;

}

.marketing {
	background-image: url(image_path("writing.jpg"));
	background-size: cover;
	width: 100%;
	min-height: 400px;
	margin: 0, auto;
	border-bottom: solid 4px #A0B136;
	.never-more {
		color: white;
		margin: 0;
		padding-top: 120px;
		padding-left: 40px;
	}
}

.my-brand {
	text-decoration: none;
	color: #7D7D7D;
	font-size: 1.5em;
}

.notice {
	background-color: #222222;
	color: white;
}
.navbar-right {
	margin-right: 10px;
}

.content {
	height: 400px;
	background-color: white;
	margin: 10px;
	padding: 30px;
}

.my-text {
	text-align: center;
	color: yellow;
	font-size: 30px;
	padding-top: 60px;
}



