!!!5
%html
	%head
		%title My Note App
		= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Oxygen:400,700'
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		- if flash[:notice]
			.notice= flash[:notice]
		.nav.navbar-inverse.my-nav
			.navbar-header
				.navbar-brand= link_to "My Notes App", root_path, class: "my-brand"
			%ul.nav.navbar-nav.navbar-right
				- if user_signed_in?
					%li= link_to "My Account", new_user_session_path
					%li= link_to "Sign Out", destroy_user_session_path, method: :delete
				- else
					%li= link_to "Log In", new_user_session_path
					%li= link_to "Sign Up", new_user_registration_path

		= yield

		.nav.navbar-inverse.navbar-fixed-bottom.my-footer
			





